<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">
	<select id="searchOrder" parameterType="HashMap"
		resultType="khj.dto.OrderDTO">
		select * from khj.order_info
		<where>
			<if test="order_id != null">and order_id=#{order_id}</if>
			<if test="order_number != null">and order_number=#{order_number}</if>
			<if test="order_count != null">and order_count=#{order_count}</if>
			<if test="order_product != null">and order_product=#{order_product}</if>
			<if test="order_installment != null">and order_installment=#{order_installment}</if>
			<if test="order_payment != null">and order_payment=#{order_payment}</if>
			<if test="order_date != null">and order_date=#{order_date}</if>
			<if test="order_total!= null">and order_total=#{order_total}</if>
			<if test="order_coupon != null">and order_coupon=#{order_coupon}</if>
			<if test="order_point != null">and order_point=#{order_point}</if>
		</where>
		order by order_number
	</select>
	<select id="duplicateCheck" parameterType="String"
		resultType="Integer">
		select count(*) from khj.order_info where
		order_number=#{order_number}
	</select>
	<select id="allOrder" resultType="khj.dto.OrderDTO">
		select * from khj.order_info order by order_number asc
	</select>
	<insert id="insertOrder" parameterType="khj.dto.OrderDTO">
		insert into
		khj.order_info
		values(#{order_id}, #{order_number}, #{order_count},
		#{order_product},#{order_installment}, #{order_payment},
		#{order_date}, #{order_total}, #{order_coupon}, #{order_point})
	</insert>
	<delete id="deleteOrder" parameterType="HashMap">
		delete from khj.order_info
		<where>
			<if test="order_id != null">and order_id=#{order_id}</if>
			<if test="order_number != null">and order_number=#{order_number}</if>
			<if test="order_count != null">and order_count=#{order_count}</if>
			<if test="order_product != null">and order_product=#{order_product}</if>
			<if test="order_installment != null">and order_installment=#{order_installment}</if>
			<if test="order_payment != null">and order_payment=#{order_payment}</if>
			<if test="order_date != null">and order_date=#{order_date}</if>
			<if test="order_total!= null">and order_total=#{order_total}</if>
			<if test="order_coupon != null">and order_coupon=#{order_coupon}</if>
			<if test="order_point != null">and order_point=#{order_point}</if>
		</where>
	</delete>
	<update id="updateOrder" parameterType="khj.dto.OrderDTO">
		update khj.order_info set
		order_id=#{order_id},
		order_count=#{order_count},
		order_product=#{order_product},
		order_installment=#{order_installment},
		order_payment=#{order_payment},
		order_date=#{order_date},
		order_total=#{order_total},
		order_coupon=#{order_coupon},
		order_point=#{order_point} where order_number=#{order_number}
	</update>
</mapper>